@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900&display=swap);
.header {
  width: 100%;
  height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 158px;
  padding: 27px 0;
}

.header__active {
  background: #CCC;
}

.header__body {
  position: relative;
  z-index: 2;
}

.header__wrapper {
  max-width: 1043px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__list-item {
  margin-right: 34px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__list-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: black;
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.header__list-item-link:hover, :focus {
  color: #FF6464;
}

.intro__wrapper {
  max-width: 856px;
  margin: 0 auto;
  margin-bottom: 71px;
  position: relative;
}

.pic__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro__img-thumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  left: 609px;
  bottom: 115px;
}

.intro__title {
  width: 506px;
  margin-bottom: 40px;
}

.intro__subtitle {
  width: 497px;
  margin-bottom: 38px;
}

.download__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 208px;
  height: 47px;
  padding: 9px 20px 17px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: white;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

.download__btn:hover, :focus, :visited {
  background: #b12929;
}

.recent {
  background: #EDF7FA;
}

.recent__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 7px;
  margin-bottom: 2px;
  max-height: 60px;
}

.recent__title-text {
  margin-right: 519px;
  line-height: 272.72727%;
  font-size: 22px;
  color: #21243d;
}

.recent__view-all {
  text-align: right;
  padding-top: 23px;
  line-height: 143.75%;
  font-size: 16px;
  color: #00a8cc;
}

.recent__view-all:hover, :focus {
  text-decoration: underline;
}

.posts__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.post__card-1 {
  grid-column: span 1;
  width: 418px;
  height: 295px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}

.post-card {
  grid-column: span 1;
  width: 418px;
  height: 295px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  margin-bottom: 32px;
}

.post__title {
  padding: 24px 21px 0 23px;
  margin-bottom: 17px;
}

.post__date-type {
  width: 374px;
  padding: 0 21px 0 23px;
  margin-bottom: 11px;
}

.post__date {
  width: 129px;
}

.post__project-type {
  width: 239px;
  padding: 0 0 0 26px;
  text-align: left;
  position: relative;
}

.post__date::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 21px;
  border-right: 1px solid black;
  margin-left: 31px;
  vertical-align: middle;
}

.post__content {
  padding: 0 27px 7px 23px;
  width: 368px;
}

.fw__section {
  padding-bottom: 15px;
  margin-bottom: 82px;
}

.fw__title {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 15px;
  font-size: 22px;
  line-height: 272.72727%;
}

.work__maingrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 35px;
}

.pic__card {
  grid-column: span 1;
  height: 195px;
}

.content__card {
  grid-column: span 1;
  width: 594px;
  padding-bottom: 15px;
}

.work__title {
  margin-bottom: 20px;
}

.work__year {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 17px;
  padding: 0 10px;
  background: #142850;
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
  color: white;
  margin-right: 36px;
}

.work__type {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}

.work__content {
  position: relative;
  width: 594px;
}

.footer {
  padding-bottom: 63px;
}

.footer__wrapper {
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.footer__icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 26px;
}

.footer__icon-menu-item {
  margin-right: 35px;
  width: 30px;
  height: 30px;
}

.footer__icon-menu-item:last-child {
  margin-right: 0;
}

.footer__copyright {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

@media (max-width: 960px) {
  .burger {
    display: block;
    width: 40px;
    height: 28px;
    position: relative;
  }
  .burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
  }
  .burger__line_top {
    top: 0;
  }
  .burger__line_center {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .burger__line_bottom {
    bottom: 0;
  }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 115;
    padding: 75px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
  }
  .header__nav-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header__list-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__list-item:last-child {
    margin-bottom: 0;
  }
  .header__list-item-link {
    color: white;
    font-size: 42px;
    line-height: 48px;
  }
  .header__nav-close {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1880;
  }
  .nav-close__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    top: 50%;
  }
  .nav-close__line:first-child {
    -webkit-transform: rotate(45deg) translateY(-50%);
        -ms-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
  }
  .nav-close__line:last-child {
    -webkit-transform: rotate(-45deg) translateY(-50%);
        -ms-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
  }
}

@media (max-width: 856px) {
  .wrapper {
    padding: 0 15px;
  }
  .pic__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 34px;
  }
  .intro__img-thumb {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: static;
    left: 609px;
    bottom: 115px;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__title {
    width: 312px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin-bottom: 21px;
  }
  .intro__subtitle {
    width: 328px;
    margin: 0 auto;
    margin-bottom: 27px;
  }
  .adapt__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .download__btn {
    display: block;
  }
  .post-card {
    grid-column: span 2;
  }
  .recent {
    padding-bottom: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .recent__title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 856px;
    height: auto;
    margin-bottom: 15px;
  }
  .recent__view-all {
    position: absolute;
    display: none;
  }
  .posts__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .post-card {
    display: block;
  }
  .post__card-2 {
    margin-bottom: 0;
  }
  .card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .pic__card {
    grid-column: span 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content__card {
    grid-column: span 1;
  }
  .fw__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fw__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work__maingrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    display: block;
  }
  .content__card {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .work__content {
    width: 344px;
    margin: 0 auto;
  }
}

@media (max-width: 380px) {
  .recent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .post__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .post__date-type {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .post__date {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .post__project-type {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .post__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.default__title {
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}

.default__main-text {
  font-size: 16px;
  line-height: 23px;
  color: #21243d;
}

body {
  font-family: "Heebo";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #21243d;
}

.wrapper {
  min-width: 320px;
  max-width: 856px;
  margin: 0 auto;
}

.dtop__section-title {
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
}

.title-of-presentations {
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
}
