@media (max-width: 960px) {
    .burger {
        display: block;
        width: 40px;
        height: 28px;
        position: relative;
    }
    .burger__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        left: 0; //height to center
    }
    .burger__line_top {
        top: 0;
    }
    .burger__line_center {
        top: 50%;
        transform: translateY(-50%);
    }
    .burger__line_bottom {
        bottom: 0;
    }
    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    // "fall-out" menu
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        z-index: 115;
        padding: 75px;
        transform: translateX(100%);
        transition: 0.3s linear all;
    }
    .header__nav-active {
        
       

        transform: translateX(0);
    }
    .header__list-item {
        
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__list-item:last-child {
        margin-bottom: 0;
    }
    .header__list-item-link {
        color: white;
        font-size: 42px;
        line-height: 48px;
    }
    // "fall-out" menu

    //! CLOSING 

    .header__nav-close {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1880;
    }
    .nav-close__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: white; //! BACKGROUND
        top: 50%;
    }
    .nav-close__line:first-child {
        transform: rotate(45deg) translateY(-50%);
    }
    .nav-close__line:last-child {
        transform: rotate(-45deg) translateY(-50%);
    }
}

