@media (max-width: 960px) {
    .burger {
        display: block;
        width: 40px;
        height: 28px;
        position: relative;
    }
    .burger__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        left: 0; //height to center
    }
    .burger__line_top {
        top: 0;
    }
    .burger__line_center {
        top: 50%;
        transform: translateY(-50%);
    }
    .burger__line_bottom {
        bottom: 0;
    }
    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    // "fall-out" menu
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        z-index: 115;
        padding: 75px;
        transform: translateX(100%);
        transition: 0.3s linear all;
    }
    .header__nav-active {
        transform: translateX(0);
    }
    .header__list-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__list-item:last-child {
        margin-bottom: 0;
    }
    .header__list-item-link {
        color: white;
        font-size: 42px;
        line-height: 48px;
    }
    // "fall-out" menu

    //! CLOSING

    .header__nav-close {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1880;
    }
    .nav-close__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: white; //! BACKGROUND
        top: 50%;
    }
    .nav-close__line:first-child {
        transform: rotate(45deg) translateY(-50%);
    }
    .nav-close__line:last-child {
        transform: rotate(-45deg) translateY(-50%);
    }
}

@media (max-width: 865px) {
    .wrapper {
        padding: 0 15px;
    }
    .pic__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 34px;
    }
    .intro__img-thumb {
        display: inline-flex;
        flex-wrap: wrap;
        position: static;
        left: 609px;
        bottom: 115px;
    }
    .intro {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .intro__title {
        width: 312px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 21px;
    }
    .intro__subtitle {
        width: 328px;
        margin: 0 auto;
        margin-bottom: 27px;
    }
    .adapt__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .download__btn {
        display: block;
    }
    .post-card {
        grid-column: span 2;
    }
    .recent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .recent__title {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .recent__title-text {
        display: flex;
        margin-right: 0;
        text-align:center;
        justify-content: center;
        width: 105px;
        height: 20px;
        margin-bottom: 15px;
    }
    
    .recent__view-all {
        position: absolute;
        display: none;
    }
    .post-card {
        display: block;
        
    }
    .card__wrapper {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

   .pic__card {
       grid-column: span 2;
   }
   .content__card {
    grid-column: span 2;
   }
}

