@import "_header";
@import "_intro";
@import "_recent";
@import "_featured-works";
@import "_footer";
@import "_media";
@import "_fonts";
@import "_normalize";
//! imports

// media variables
$md1: 856 + 12 * 1px; // max-widthContainer + 12px 
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
// media variables

$dc: #21243d;
//! default color
.default__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: $dc;
}
.default__main-text {
    font-size: 16px;
    line-height: 23px;
    color: $dc;
}
//! title text styles
body {
    font-family: $ff;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: $dc;
}
.wrapper {
    min-width: 320px;
    max-width: 856px;
    margin: 0 auto;
}
//! desctop__section-title
.dtop__section-title {
    font-size: 22px;
    line-height: 60px;
    color: $dc;
}
.title-of-presentations {
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}

