@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900&display=swap);
.header {
  margin-bottom: 158px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 27px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__list-item {
  margin-right: 34px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__list-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: black;
}

.footer__wrapper {
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.footer__icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 26px;
}

.footer__icon-menu-item {
  margin-right: 35px;
  width: 30px;
  height: 30px;
}

.footer__icon-menu-item:last-child {
  margin-right: 0;
}

.footer__copyright {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.default__title {
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}

.default__main-text {
  font-size: 16px;
  line-height: 23px;
  color: #21243d;
}

body {
  font-family: "Heebo";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #21243d;
}

.wrapper {
  max-width: 856px;
  margin: 0 auto;
}

.dtop__section-title {
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
}

.title-of-presentations {
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
}
